* {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}

.wrapper {
    width: 500px;
    height: 640px;
    padding: 5px;
    margin: 0 auto;
    background-color: #ddd;
}

#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}

#nickWrapper {
    display: none;
}

.banner {
    height: 70px;
    width: 100%;
}

.banner #status {
    display: inline-block;
    margin: 10px;
}

.controls {
    height: 100px;
    margin: 5px 0;
    position: relative;
}

#historyMsg {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}

#historyMsg img {
    max-width: 99%;
}

.timespan {
    color: #ddd;
}

.items {
    height: 30px;
}

#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}

/*custom the file input*/

.imageLable {
    position: relative;
}

#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}

/*end custom file input*/
#messageInput {
    width: 440px;
    max-width: 440px;
    height: 90px;
    max-height: 90px;
    float: left;
}

#sendBtn {
    width: 50px;
    height: 92px;
    -moz-appearance: button; /* Firefox */
    -webkit-appearance: button; /* Safari 和 Chrome */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: right;
}

#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}

#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}

#emojiWrapper img:hover {
    background-color: blue;
}

.emoji {
    display: inline;
}

footer {
    text-align: center;
}

/* 修改的聊天界面 */
.msg-style {
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    box-shadow: 1px 1px 2px #333333;
    padding: 8px;
    margin: 5px 10px;
    display: inline-block;
}

.me-msg-style {
    background-color: rgb(26, 124, 236);
    color: #fff;
    float: right;
}

.me-right-title {
    text-align: right;
}
/* 图片样式 */


/* 清除浮动 */
.clearfix {
    *zoom: 1;
}
.clearfix::before,
.clearfix::after {
    content: '.';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
